*{
  box-sizing: border-box;
}

:root{
  --primary-color:rgb(25, 24, 26);
  --secondary-color:rgb(204, 3, 3);
}

body{
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  height: 70px;
  background-color: var(--secondary-color)
}

.website_name_container{
  padding-left: 15px;
}
.website_name{
  color:white
}

#top-rated,
#popular,
#upcoming{
  background:transparent;
  border:none;
  font-size: 20px;
  color:white;
  cursor:pointer;
  padding:10px;
  border-radius:50px;
}

#top-rated:hover,
#popular:hover,
#upcoming:hover,
#contact:hover{
  background-color: var(--primary-color);
  transition: 0.5s;
}

.search_container{
  padding-right: 15px;
}

.search{
  background:transparent;
  border:solid;
  border-width: 2px;
  border-color: white;
  border-radius: 50px;
  color:white;
  font-size:16px;
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: 0.5s;
}

.search:focus{
  outline:none;
  background-color: var(--primary-color);
  color:rgb(255, 255, 255);
  transition: 0.5s;
}

.search::placeholder{
  color: white;
}

main{
  margin-top: 80px;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}

.page-title{
  margin-right: 10000px;
  padding-left: 30px;
}

h2{
  font-size: 30px;
  color:white;
}

.movie{
  padding: 5px 15px 15px;
  width:20%;
  min-width: 250px;
  color:white;
  transition:1s;
}

.movie:hover{
  cursor:pointer;
}

.id{
  position:relative;
  right:0;
  top:0;
}

.movie img{
  width:100%
}

a,
a:link,
a:visited,
a:hover,
a:active{
  color:white;
  text-decoration: none;
}
